@font-face {
  font-family: figtree;
  src: url(../assets/fonts/Figtree-VariableFont_wght.ttf);
}
a {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: figtree;
  background: linear-gradient(#2b2b2b, #030303);
  color: rgb(214, 214, 214);
  font-size: 11px;
}

.burgermenu {
  z-index: 10;
  position: absolute;
  right: 0;
  margin: 1.5em 1em;
  width: 3.38em;
}

.burgermenu:hover {
  cursor: pointer;
}

.logo {
  width: 1.5em;
  margin: 0.44em;
}

.btn {
  transition: 0.2s;
  display: flex;
  flex-direction: row;
  padding: 0.2em 0.44em;
  align-items: center;
  background-color: black;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 1000px;
  color: white;
  margin: 0.44em 0;
}
.btn:hover {
  cursor: pointer;
  transition: 0.2s;
  background-color: rgb(172, 172, 172);
  color: black;
}
.btn:active {
  transition: 0.2s;
  transform: scale(0.95);
}

.logo {
  width: 1.5em;
  margin: 0.44em;
}

.paragraph {
  font-weight: 600;
}

.menu, .character {
  top: 0;
  width: 50%;
  padding: 2.25em;
  height: 100vh;
  position: fixed;
  background: linear-gradient(#2b2b2b, #030303);
}

.menu {
  left: -100%;
  transition: 0.3s;
  border-right: solid 1px white;
  display: flex;
  flex-direction: column;
}

.character {
  transition: 0.3s;
  right: -100%;
  border-left: solid 1px white;
}

.characteractive {
  right: 0;
}

.chat {
  transition: 0.3s;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.chat__pic {
  width: 2.25em;
  height: 2.25em;
  border-radius: 1000px;
  margin-left: 0.44em;
}
.chat__you {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-self: end;
}
.chat__pfpnme {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.chat__scrollable {
  position: absolute;
  bottom: 40%;
  width: 70%;
  overflow-y: auto;
  overflow-x: hidden;
}
.chat__top {
  justify-self: center;
  justify-items: center;
  padding-bottom: 3.38em;
}
.chat__bubble {
  color: black;
  background-color: white;
  border-radius: 1000px;
  padding: 1em;
  margin: 0 1.5em 2.25em 0;
  width: -moz-fit-content;
  width: fit-content;
}
.chat__warning {
  justify-self: center;
}
.chat__aisticker {
  font-weight: 700;
  background-color: black;
  padding: 0.3em;
  margin-left: 0.2em;
  border-radius: 1em;
}
.chat__botname {
  margin-left: 0.44em;
}
.chat__choices {
  width: 70%;
  position: fixed;
  bottom: 5%;
}
.chat__choiceslogo {
  width: 1em;
  transform: rotate(45deg);
  padding: 0.5em;
  border-radius: 1000px;
  background-color: #0f0f0f;
}
.chat__choices--1, .chat__choices--2 {
  margin: 0.5em 0;
  padding: 0.2em 1em 0em 1.5em;
  color: black;
  background-color: white;
  border-radius: 1000px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: 0.2s;
}
.chat__choices--1:hover, .chat__choices--2:hover {
  cursor: pointer;
  background-color: rgb(128, 128, 128);
  color: aliceblue;
  transition: 0.3s;
}
.chat__choices--1:active, .chat__choices--2:active {
  transition: 0.2s;
  transform: scale(0.95);
}

.character__profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: solid 1px white;
  padding-bottom: 2.25em;
}
.character__profilepic {
  width: 5.06em;
  border-radius: 1000px;
}
.character__text {
  margin-left: 1em;
}
.character__name {
  margin: 0.3em 0;
}
.character__author {
  margin: 0.3em 0;
}
.character__interactions {
  margin: 0.3em 0;
}

.paragraph__IA {
  max-width: 50ch;
  margin-bottom: 0.67em;
  font-size: 1em;
}

.suggestion__IA {
  font-weight: 700;
  max-width: 50ch;
  margin-bottom: 3.38em;
}

.popup {
  position: absolute;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popup__context {
  position: fixed;
  background-color: #b3b3b3;
  color: #000000;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.25em;
  box-sizing: border-box;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2.25em;
}
.popup__text {
  width: 35ch;
  text-align: center;
}
.popup__btn {
  font-family: figtree;
  font-size: 1.5em;
  border: none;
}
.popup__btn:hover {
  background-color: #ffffff;
}

.fin1, .fin2 {
  font-size: 1.5em;
  top: 0;
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fin1__choices, .fin2__choices {
  padding: 2.25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #b3b3b3;
  color: #000000;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 10;
  border-radius: 2.25em;
}
.fin1__choices a:hover, .fin2__choices a:hover {
  background-color: #ffffff;
}

.hidden {
  display: none;
}

.blurr {
  filter: blur(10px);
  transition: 0.5s;
}

.ending {
  height: 100vh;
  padding: 3.38em;
  box-sizing: border-box;
}
.ending__p {
  max-width: 50ch;
}
.ending__title {
  margin-top: 2.25em;
}
.ending__btn {
  font-size: 1.5em;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 800;
  font-size: 0.67em;
}

@media (min-width: 800px) {
  body {
    font-size: 13px;
  }
  .burgermenu {
    display: none;
  }
  .chat__scrollable {
    position: absolute;
    bottom: 40%;
    width: 50%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .chat__choices {
    width: 50%;
  }
  .menu, .character {
    top: 0;
    width: 15%;
    padding: 2.25em;
    height: 100vh;
    position: fixed;
  }
  .character {
    transition: 0.3s;
    right: 0;
    border-left: solid 1px white;
  }
  .menu {
    left: 0;
  }
  .popup__text {
    width: 50ch;
    text-align: center;
  }
  .ending {
    height: 100vh;
    padding: 3.38em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ending__p {
    max-width: 50ch;
    margin-bottom: 1.5em;
  }
  .ending__title {
    margin-top: 2.25em;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 17px;
  }
  .burgermenu {
    display: none;
  }
  .chat__scrollable {
    position: absolute;
    bottom: 40%;
    width: 40%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .chat__choices {
    width: 40%;
  }
  .menu, .character {
    top: 0;
    width: 20%;
    padding: 2.25em;
    height: 100vh;
    position: fixed;
  }
  .character {
    transition: 0.3s;
    right: 0;
    border-left: solid 1px white;
  }
}/*# sourceMappingURL=app.css.map */